@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html,
body,
:root{
  height: 100%;
}


.categories::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
  overflow-x: scroll;
} 

.overflow-scroll::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
  overflow-x: scroll;
} 
/* Hide scrollbar for IE, Edge and Firefox */
.categories {
  -ms-overflow-style: none; 
   scrollbar-width: none; 
} 